body{
    overflow-y:hidden;
    margin-top: 0px;
}
.container{
    width: 414px;
    height: 100vh;
    min-height: 896px;
    margin: auto;
    background: linear-gradient(180deg, #30BBBB 0%, #6CD6D6 17.71%, #95FFFF 100%);
}

.input{
    position:relative;
    width: 362px;
    height: 52px;
    left: calc(50% - 362px/2);
    top:5vh;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 70px;
}

input{
    padding-left: 4px;
    position: relative;
    border:none;
    width: 292px;
    height: 50px;
    line-height: 50px;
    left:12px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 33px;
    text-transform: capitalize;
    color: #88BBBB;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

img{
    position: relative;
    top: 4px;
    left: 12px;
}

.weatherContainer{
position: relative;
width: 362px;
height: 318px;
left: 26px;
top: 12vh;

background: #63C9C9;
mix-blend-mode: normal;
opacity: 0.8;
backdrop-filter: blur(9px);

border-radius: 39px;
}

.place{
color: white;
position: relative;
width: 161px;
height: 62px;
top: 30px;
left: 0px;

font-family: Roboto Slab;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 40px;
text-align: center;
}

.date{
    width: 120px;
    position: relative;
    left: 32px;
    top: 4px;
    color: white;
}

.temp{
position: relative;
width: 174px;
height: 73px;
left: 40px;
top: 20px;
font-family: Roboto Slab;
font-style: normal;
font-weight: 1000;
font-size: 70px;
line-height: 70px;
color: white;

}

.cels{
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
    text-align: left;
}

.stats{

width: 132px;
height: 74px;

background: rgba(22, 201, 201, 0.64);
mix-blend-mode: normal;
opacity: 0.7;
border-radius: 22px;
}

.statsGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top:50px;
    left:-40px;
    height: 74px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

p{
    height: 18px;
    text-align: center;
    font-family: Roboto Slab;
    font-style: normal;
    font-size: 18px;
    line-height: 0px;
    color: white;
}

.pic{
    position: relative;
    left:70%;
    top:-30%;
    float: left;
}